.background {
  background-color: white;
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: whitesmoke;
  position: relative;
  height: 96%;
  width: 84%;
  border-radius: 15px;
  margin: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  display: none;
}

.main-inside {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

